<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title th:text="${WEBSITE_TITLE}">Title</title>
    <!--/*/ <th:block th:replace="layout::head-link"> /*/-->
    <link rel="alternate" type="application/atom+xml" th:title="${WEBSITE_TITLE}" th:href="@{/feed/atom.xml}"/>
    <link rel="alternate" type="application/rss+xml" th:title="${WEBSITE_TITLE}" th:href="@{/feed/rss.xml}"/>
    <link rel="stylesheet" th:href="@{/resources/bundle.css}" href="/resources/guest/bundle.css"/>
    <link rel="stylesheet" th:href="@{/resources/bundle.css}" href="/resources/guest/bundle.css"/>
    <link rel="stylesheet" th:href="@{/resources/search-bar.css}" href="/resources/guest/search-bar.css">
    <script th:src="@{//code.jquery.com/jquery-1.11.1.min.js}" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script th:src="@{//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js}"
            src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!--/*/ </th:block> /*/-->
    <!--/*/ <th:block th:replace="layout::head-script"> /*/-->
    <script src="/resources/guest/bundle.js"></script>
    <!--/*/ </th:block> /*/-->
    <script th:replace="google-analytics::ga(null)"></script>
    <!--<script th:src="@{/resources/scripts/datepicker.js}" />-->
</head>
<body>
<div id="wrap">

    <div th:replace="layout::nav"></div>
    <div th:replace="layout::postAd"></div>
    <div class="container">
        <div class="container text-center">
            <div class="p-0 mb-25">
                <div class="tab-content search-bar-box" id="tabs-collapse">

                    <!--FLATMATE FORM-->
                    <form th:action="@{/flatmate-list}" th:object="${form}" method="GET">

                        <div class="tab-inner search-container pl-50">
                            <div class="search-item">
                                <span th:text="#{SortBy}"></span>
                            </div>
                            <div class="search-item">
                                <i class="fas fa-map-marker-alt"></i>
                                <span th:text="#{District}"></span>
                            </div>
                            <div class="search-item">
                                <i class="fas fa-wallet"></i>
                                <span th:text="#{Budget}"></span>
                            </div>
                            <div class="search-item">
                                <i class="fas fa-calendar-alt property-card-item-icon"></i>
                                <span th:text="#{DatePublished}"></span>
                            </div>
                        </div>

                        <div id="advancedSearch" class="collapse tab-inner col-sm-12 mb-20">
                            <div class="col-sm-2">
                                <div class="text-align-left ml-5" th:each="term : ${termOfLease}">
                                    <input type="checkbox" name="termOfLeases[]" th:value="${term.id}"/>
                                    <label th:text="${term.caption}"></label>
                                </div>
                            </div>
                            <select th:field="*{gender}" class="search-bar-input col-sm-2" id="gender">
                                <option value="0" th:text="#{Gender}"></option>
                                <option th:each="gender : ${genders}" th:value="${gender.id}"
                                        th:text="${gender.caption}"></option>
                            </select>
                            <input th:field="*{area}" class="search-bar-input col-sm-2" type="text"
                                   th:attr="placeholder=#{Area}"/>
                        </div>

                        <!--FLATMATE CONTENT-->
                        <div class="mb-25">

                            <a class="col-sm-6 col-md-4 col-lg-3 text-deco-none" th:each="ad : ${ads}"
                               th:href="@{/flatmate-view(id=${ad.id})}"
                               target="_blank">
                                <div class="property-card">
                                    <div id="slider">
                                        <div id="carousel-bounding-box">
                                            <div class="carousel slide" id="myCarousel">
                                                <div class="carousel-inner">
                                                    <div class="item active property-list-img"
                                                         th:style="'background-image:url(' + @{|/media/${ad.userDetail.profileImage.filePath}|} + ');'"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-left caption property-card-items responsive-property-items">
                                        <p class="flatmate-title" th:text="${ad.title}"></p>
                                        <div class="flatmate-card-item b-b-none">
                                            <i class="fas fa-map-marker-alt property-card-item-icon"></i>
                                            <p class="property-card-item-text" th:text="#{Districts} + ':'"></p>
                                            <p class="property-card-item-text"
                                               th:each="district : ${ad.districts}" th:text="${district}"></p>
                                        </div>
                                        <div class="flatmate-card-item b-b-none">
                                            <i class="fas fa-wallet property-card-item-icon"></i>
                                            <p class="property-card-item-text" th:text="#{FlatmateBudget}"></p>
                                            <p class="property-card-item-text"
                                               th:text="${ad.budget} + ' ' + ${ad.currencyCaption}"></p>
                                        </div>
                                        <div class="flatmate-card-item">
                                            <i class="fas fa-calendar-alt property-card-item-icon"></i>
                                            <p class="property-card-item-text" th:text="#{RentPeriod} + ':'"></p>
                                            <p class="property-card-item-text"
                                               th:text="${ad.termOfLease}"></p>
                                        </div>
                                        <div class="property-card-item-icon mt-10">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-exchange-alt"></i>
                                            <i class="fas fa-comment"></i>
                                            <span class="view-profile-btn" th:text="#{ViewProfile}"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </div>

                        <!--FLATMATE PAGINATOR-->
                        <div class="paginator-container">
                            <ul class="pagination pagination-lg">
                                <li th:if="${currentPage > 1 and totalPages > 7}" class="page-item">
                                    <a th:href="@{/flatmate-list(size=${flatmateAds.size},
                                                                    page=1,
                                                                    gender=${form.gender},
                                                                    minAge=${form.minAge},
                                                                    maxAge=${form.maxAge},
                                                                    termOfLeases=${form.termOfLease},
                                                                    area=${form.area})}"
                                       th:text="1" }
                                       th:class="pagination-btn"></a>
                                </li>
                                <li th:if="${currentPage > 2 and totalPages > 7}" class="page-item">
                                    <span class="pagination-btn">...</span>
                                </li>
                                <li th:if="${flatmateAds.totalPages > 0}" th:each="pageNumber : ${pageNumbers}"
                                    class="page-item">
                                    <a th:href="@{/flatmate-list(size=${flatmateAds.size},
                                                                    page=${pageNumber},
                                                                    gender=${form.gender},
                                                                    minAge=${form.minAge},
                                                                    maxAge=${form.maxAge},
                                                                    termOfLeases=${form.termOfLease},
                                                                    area=${form.area})}"
                                       th:text=${pageNumber}
                                       th:classappend="${currentPage == pageNumber} ? active-pagination-btn : pagination-btn"></a>
                                </li>
                            </ul>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
