<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description"/>
    <meta name="keywords"/>
    <meta name="author" content=""/>
    <title>Profile</title>
    <!--/*/ <th:block th:replace="layout::head-link"> /*/-->
    <link rel="alternate" type="application/atom+xml" th:title="${WEBSITE_TITLE}" th:href="@{/feed/atom.xml}"/>
    <link rel="alternate" type="application/rss+xml" th:title="${WEBSITE_TITLE}" th:href="@{/feed/rss.xml}"/>
    <link rel="stylesheet" th:href="@{/resources/bundle.css}" href="/resources/guest/bundle.css"/>
    <script th:src="@{//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js}"
            src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!--/*/ </th:block> /*/-->
    <!--/*/ <th:block th:replace="layout::head-script"> /*/-->
    <script th:src="@{/resources/bundle.js}" src="/resources/guest/bundle.js"></script>
    <!--/*/ </th:block> /*/-->
    <script th:replace="google-analytics::ga(null)"></script>
</head>
<body>
<div id="wrap">
    <div th:replace="layout::nav"></div>
    <div class="container l-5-vw r-5-vw">
        <div class="row">

            <div class="col-sm-3 min-height-95vh">
                <img th:src="${PROFILE_PIC_PATH}"
                     class="profile-img height-200">
                <div th:replace="layout::profile"></div>
            </div>

            <div class="col-sm-8 col-sm-offset-1 mt-10">
                <div class="profile-edit-title">
                    <h3 th:text="#{MyFlatmateAds}"></h3>
                </div>
                <hr>
            </div>

            <form th:object="${form}" method="post" role="form">
                <div class="col-sm-8 col-sm-offset-1">
                    <a class="col-sm-6 text-deco-none" th:each="ad : ${ads}"
                       th:href="@{/flatmate-view(id=${ad.id})}"
                       target="_blank">
                        <div class="property-card">
                            <div id="slider">
                                <div id="carousel-bounding-box">
                                    <div class="carousel slide" id="myCarousel">
                                        <div class="carousel-inner">
                                            <div class="item active property-list-img"
                                                 th:style="'background-image:url(' + @{|/media/${ad.userDetail.profileImage.filePath}|} + ');'"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-left caption property-card-items responsive-property-items">
                                <p class="flatmate-title" th:text="${ad.title}"></p>
                                <div class="flatmate-card-item b-b-none">
                                    <i class="fas fa-map-marker-alt property-card-item-icon"></i>
                                    <p class="property-card-item-text" th:text="#{Districts} + ':'"></p>
                                    <p class="property-card-item-text ml-5"
                                       th:each="district : ${ad.districts}" th:text="${district}"></p>
                                </div>
                                <div class="flatmate-card-item b-b-none">
                                    <i class="fas fa-wallet property-card-item-icon"></i>
                                    <p class="property-card-item-text" th:text="#{FlatmateBudget}"></p>
                                    <p class="property-card-item-text ml-5"
                                       th:text="${ad.budget} + ' ' + ${ad.currencyCaption}"></p>
                                </div>
                                <div class="flatmate-card-item">
                                    <i class="fas fa-calendar-alt property-card-item-icon"></i>
                                    <p class="property-card-item-text" th:text="#{RentPeriod} + ':'"></p>
                                    <p class="property-card-item-text ml-5"
                                       th:text="${ad.termOfLease}"></p>
                                </div>
                                <div class="property-card-item-icon mt-10">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-exchange-alt"></i>
                                    <i class="fas fa-comment"></i>
                                    <span class="view-profile-btn" th:text="#{ViewProfile}"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </form>

        </div>
    </div>
</div>
</body>
</html>
